
@{
    ViewBag.Title = "Section";
}
<!--vue affichant l'ensemble des sections se rapportant a la discipline choisie precedement-->
<div class="row">
    <div class="col-md-12">
        <!--arbre de navigation permettant de remonter dans les pages qui ont conduit a celle ci (discipline et section)-->
        <span><a href="/">home></a><a href="/Discipline">Disciplines></a><a href="/Discipline/Section/@ViewBag.Discipline">@ViewBag.Discipline</a></span>
       
        <h2>Sections</h2>
        <table>
            <tr>
                <th>Nom &nbsp &nbsp </th>
                <th>Prix &nbsp &nbsp</th>
            </tr>
            <!--parcours les sections trouvees et transmises par le controller-->
            @foreach (var sectio in ViewBag.Sections as List<SportAsso.Models.Section>)
            {
                <tr>
                    <!--affiche leur nom sous forme de lien cliquable pour se rendre sur la page de cette section
                        (contiendra la liste des creneaux qu'elle possede-->
                    <td><a href="/Discipline/Creneau/@ViewBag.Discipline/@sectio.Id_Section">@sectio.Nom &nbsp &nbsp</a></td>
                    <td>@sectio.Prix &nbsp &nbsp</td>
                </tr>
            }
        </table>
    </div>
</div>