@{
    ViewBag.Title = "Contact";
}
<!-- vue affichant des informations pour contacter l'association-->
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    30 avenue du sport<br />
    Grenoble 38000<br />
    <abbr title="Phone">P:</abbr>
    04.00.00.00.00
</address>

<address>
    <strong>Administration:</strong>   <a href="">administrationt@sport.com</a><br />
    <strong>Communication:</strong> <a href="">communication@sport.com</a>
</address>