
@{
    ViewBag.Title = "Confirmation";
}



<h2>Confiramtion de la préinscription a la section @ViewBag.Section de la discipline @ViewBag.Discipline: Etape 3</h2>
<div>

    <p>
        Votre préinscription a la section @ViewBag.Section de la discipline @ViewBag.Discipline a bien été prise en compte,
        une fois tous vos documents validé par un membre du bureau d'administration vous serez officiellement inscripts.

    </p>

</div>

