
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <span><a href="/">home></a><a href="/Encadrant">Encadrants></a></span>


        <h2>Encadrants</h2>
        <ul>
            @foreach (var encadrant in ViewBag.Encadrants as List<SportAsso.Models.Personne>)
            {
                <li><a href="/Encadrant/Creneaux/@encadrant.Id_Personne">@encadrant.Nom @encadrant.Prenom </a></li>
            }
        </ul>
    </div>
</div>
