@{
    Layout = "~/Views/Shared/LayoutUserPannel.cshtml";
}
@{
    ViewBag.Title = "ModifierTel";
}

<div>
    <form method="post" action="/GestionA/ModifierTel">
        <fieldset>
            <legend>Modification votre numéro de téléphone:</legend>
            <p>
                <label>Votre nouveau numéro :</label>
                <input name="nouveau" type="text" />
            </p>
            <p>
                <label>Confirmer votre nouveau numéro : </label>
                <input name="nouveauConf" type="text" />
                @if (ViewBag.Nouveau != null)
                {
                    @ViewBag.Nouveau
                }
            </p>
            <p>
                <input type="submit" value="envoyer" />
            </p>
        </fieldset>
    </form>
</div>
